<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1100, initial-scale=1">
    <title>{% block title %}Sistema de Pagamento{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div class="titulo">
            <h2>AndréPay</h2>
        </div>
        <nav class="nav-bar">
            <ul class="menu-desk">
                <li class="nav-list"><a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-home"></i> Início</a></li>
                {% if current_user.is_authenticated %}
                    <li class="nav-list"><a class="nav-link" href="{{ url_for('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="nav-list"><a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
                {% else %}
                    <li class="nav-list"><a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>Desenvolvido por <span>Andrezinrc.</span></p>
    </footer>
</body>
</html>
